 <div class="outer-container"> 
  <div class="form-container">
    <div class="select-group">
      <label for="unit">Measurement Unit</label>
      <select (change)="handleSelect($event.target.value)" required>
        <option 
          *ngFor="let unit of measurement" 
          [selected]="unit === 'Pixels'" 
          [value]="unit">
          {{unit}}
        </option>
      </select>
    </div>
    <form *ngIf="selectedValue === 'Pixels'" (ngSubmit)="handleSubmit(pixels.value)" #pxConverterForm="ngForm">
      <div class="form-group">
        <label>Pixels</label>
        <input #pixels (keyup.enter)="handleSubmit(pixels.value)" type="text" name="pixels">
      </div>
      <button type="submit" class="submit-btn">Calculate</button>
    </form>

    <form *ngIf="selectedValue === 'REM'" (ngSubmit)="handleSubmit(rem.value)" #remConverterForm="ngForm">
      <div class="form-group">
        <label>REM</label>
        <input #rem (keyup.enter)="handleSubmit(rem.value)" type="text" name="pixels">
      </div>
      <button type="submit" class="submit-btn">Calculate</button>
    </form> 
  </div>


<div class="results-container">
  <div *ngIf="formSubmitted && selectedValue === 'Pixels'">
    {{remValue}} REM
  </div>
  <div *ngIf="formSubmitted && selectedValue === 'REM'">
    {{pxValue}}px
  </div>
</div>

</div>
